
body { background-image: url("comp.jpg");
	height:100%;
       font-family: Verdana, Arial, sans-serif;
background-position:center;
background-repeat: no-repeat;
background-size: cover;   

background-attachment: fixed; }

#wrapper { margin: 0 auto;
	width: 80%;
	min-width: 960px; max-width: 1500px;
	background-color: ;
	color: #000066; }

header { background-color: #4A9107;
         color: #e8db2c;
         font-family: Verdana, sans-serif;  
         text-align: right;
         font-weight: bold;
	 font-size: 350%;
	 padding: 10px 10px 10px 155px;}

nav { 	
	background-color: #ccff99;
        float: left;
	width: 20%;
	height:100%;
        padding: 10px;
        dislay: block;
        font-weight: bold;
	letter-spacing: 0.1em; 
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
}
	

main {  background-color: #ffffff;
	color: #000000;
	padding: 10px 20px;
        display: block;
	position:relative;
}

main img {background-position: center ;
          background-image: url(abeautifulmind.jpg); }
          background-repeat: no-repeat;}


footer {font-size: 70%;
	text-align: center;
	padding: 10px;
	background-color: #bdb8e0;
	color: #ffffff;
	clear: both; }
